extends layout

block content
  include nav
  .container
   .error=error
   form.form(id="user", method="post", action="")
    label Nombre
    input(type="text", name="name")
    label Email
    input(type="text", name="email") 
    input(type="submit", placeholder="Enviar", value="Suscribir")
   ul#emails
    if(typeof(subscriptors)!="undefined")
     each value in subscriptors
      li
       .text
        span #{value.name} - #{value.email}
        a.edit(href="#") Editar |
        a.delete(href="#") Eliminar
       form.edit.form.hidden(method="post", action="/save")
        input(type="hidden", name="id", value="#{value._id}") 
        input(type="text", name="name", value="#{value.name}") 
        input(type="text", name="email", value="#{value.email}")
        a.save(href="#") Guardar
         small
          a.cancel(href="#") Cancelar